<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}SmartCal{% endblock %}</title>
    <link href="/static/css/output.css" rel="stylesheet" />
    <style>
        [v-cloak] { display: none !important; }
    </style>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    {% block head %}{% endblock %}
  </head>
  <body class="font-sans antialiased" style="background: linear-gradient(135deg, #ffffff 0%, #e5e5e5 33%, #c0c0c0 66%, #a0a0a0 100%);">
    {% block content %}{% endblock %}
  </body>
</html>
